:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

basic-editor {
  position: relative;
  resize:both;
  overflow:auto;
  min-height: 40vh;
  border: 3px dotted #fff;
  display: block;
}

basic-editor div.line {
  padding-left: 10px;
  padding-right: 10px;
}

basic-editor:focus:not([disabled="true"]) div.line span.active {
  border-right: 2px solid #ffffff;
  animation: blink-dark 0.5s step-end infinite;
}

@keyframes blink-dark {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes blink-light {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  basic-editor {
    position: relative;
    resize:both;
    overflow:auto;
    min-height: 40vh;
    border: 3px dotted #000;
    display: block;
  }

  basic-editor:focus:not([disabled="true"]) div.line span.active {
    border-right: 2px solid #000000;
    animation: blink-light 1s step-end infinite;
  }
}
